.App {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: rgb(82, 82, 82);
  color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}


.container {
  position: absolute;
  padding: 1.5 rem;
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: 'center';
}


.synthToolButton {
  flex: 2;
  height: 4rem;
  align-items: 'center';
  background-color: 'lightgray';
  color: 'black';
  border-color: 'lightgray';
  box-shadow: 5;
  border-width: 2;
  border-radius: 5;
  width: 100%;
}


.heading-div {
  margin-top:1.5rem;
  display:flex;
  flex-direction:row;
  flex: 2;
  width: 100%;
  align-items: 'center';
  justify-content: center;
}

.heading-label {
  display: inline;
  position: relative;
  top: -1.5 rem
}


.status-label {
  position: fixed;
  top: 10px;
  left: 10px;
  color: rgb(16, 148, 16);
  width: 100%;
  align-items: 'center';
}

.color-label {
  flex: 1;
  width: 100%;
  align-items: 'center';
}


.slider-label {
  flex: 1;
  width: 100%;
  align-items: 'center';
}

.colorPicker, .slider {
  flex: 2;
  width: 100%;
  margin-top:-.25rem;
  align-items: 'center';
  border-width: 0px;
}


.text-input {
  margin-top:2rem;
  flex: 3;
  width: 100%;
  align-items: 'center';
}

.flask {
  width: 2.5rem;
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}